<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
        </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
        </script>
    <title>Registro Animales</title>
   
   <style>
        h1 {
          text-shadow: 2px 2px 5px red;
        }
        
        h5{
            text-shadow: 2px 2px 4px #000000;
        }
</style>

</head>

<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-2" style="text-align: center;">
            Animal registration</h1>

        <!-- Button para abrir el modal nuevo registro-->
        <div style="text-align: right">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#nuevo"><i
                    style='color: black'></i> <strong style='color: black'>Nuevo
                    Registro</strong></button>
        </div>

        <hr>

        <!-- Agregando la tabla de datos a pantalla principal ------->
        <table class="table table-striped table-bordered text-center" id="tablaAnimales" style="width: 100%">
            <thead class="bg-success" style="color: rgb(255, 255, 255);">
                <tr>
                    <th>
                        <h5>Codigo</h5>
                    </th>
                    <th>
                        <h5>Nombre</h5>
                    </th>
                    <th>
                        <h5>Descripcion</h5>
                    </th>
                    <th>
                        <h5>Tipo</h5>
                    </th>
                    <th>
                        <h5>Fecha</h5>
                    </th>
                    <th>
                        <h5>Opcion</h5>
                    </th>
                </tr>
            <tbody id="datos">

            </tbody>
            </thead>
        </table>
    </div>

    <!--***************MODAL´S***************-->
    <!--Modal para nuevo registro-->
    <div class="modal" id="nuevo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-success">
                    <h4 class="modal-title" style="color: black;">Agregar Registro</h4>
                    <button type="button" class="close" data-dismiss="modal" style="color: black;">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <!-- Nombre -->
                    <div class="form-group">
                        <label for="nombre">Nombre:</label> <input type="text" name="nombre" id="nombre"
                            class="form-control" placeholder="Digite el nombre" autocomplete="off" required>
                    </div>

                    <!-- Descripcion -->
                    <div class="form-group">
                        <label>Descripcion:</label>
                        <textarea rows="4" cols="50" type="text" name="descripcion" id="descripcion"
                            class="form-control" placeholder="Digite una descripcion" autocomplete="off"
                            required></textarea>
                    </div>

                    <!-- Tipo -->
                    <div class="form-group">
                        <label>Tipo:</label>
                        <select name="tipo" id="tipo" class="form-control ">
                            <option value="Mamíferos">Mamíferos</option>
                            <option value="Reptiles">Reptiles</option>
                            <option value="Aves">Aves</option>
                            <option value="Peces">Peces</option>
                            <option value="Insectos">Insectos</option>
                            <option value="Anfibios">Anfibios</option>
                        </select>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id="btnGuardar" type="button" class="btn btn-warning col-2" data-dismiss="modal"><i
                                class="fas fa-save" style="color: black;"></i><strong
                                style="color: black;">Guardar</strong></button>
                        <button id="btnCancelar" type="reset" class="btn btn-secondary col-2" data-dismiss="modal"><i
                                class="fas fa-sign-out-alt" style="color: black;"></i><strong
                                style="color: black;">Cancelar</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal para editar registro-->
    <div class="modal" id="editar">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-success">
                    <h4 class="modal-title" style="color: black;">EDITAR REGISTRO</h4>
                    <button type="button" class="close" data-dismiss="modal" style="color: black;">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <!-- Clave -->
                    <div class="form-group">
                        <input readonly="readonly" type="hidden" name="clave" id="clave2" class="form-control">
                    </div>

                    <!-- Nombre -->
                    <div class="form-group">
                        <label for="nombre">Nombre:</label> <input type="text" name="nombre2" id="nombre2"
                            class="form-control" placeholder="Digite el nombre" autocomplete="off" required>
                    </div>

                    <!-- Descripcion -->
                    <div class="form-group">
                        <label>Descripcion:</label>
                        <textarea rows="4" cols="50" type="text" name="descripcion2" id="descripcion2"
                            class="form-control" placeholder="Digite una descripcion" autocomplete="off"
                            required></textarea>
                    </div>

                    <!-- Tipo -->
                    <div class="form-group">
                        <label>Tipo:</label>
                        <select name="tipo2" id="tipo2" class="form-control" required>
                            <option value="Mamíferos">Mamíferos</option>
                            <option value="Reptiles">Reptiles</option>
                            <option value="Aves">Aves</option>
                            <option value="Peces">Peces</option>
                            <option value="Insectos">Insectos</option>
                            <option value="Anfibios">Anfibios</option>
                        </select>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id="btnActualizar" type="button" class="btn btn-warning col-2" data-dismiss="modal"><i
                                class="fas fa-edit" style="color: black;"></i><strong
                                style="color: black;">Actualizar</strong></button>
                        <button id="btnCancelar" type="button" class="btn btn-secondary col-2" data-dismiss="modal"><i
                                class="fas fa-sign-out-alt" style="color: black;"></i><strong
                                style="color: black;">Cancelar</strong></button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal para eliminar registro -->
    <div class="modal" id="eliminar">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-success">
                    <h4 class="modal-title" style="color: black;">ELIMINAR REGISTRO</h4>
                    <button type="button" class="close" data-dismiss="modal" style="color: black;">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h1 style="color: red;">¿Esta seguro de eliminar el registro?</h1>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="btnEliminar" type="button" class="btn btn-danger ml-2 col-2" data-dismiss="modal"><i
                            class="fas fa-trash-alt" style="color: black;"></i><strong
                            style="color: black;">SI</strong></button>
                    <button type="button" class="btn btn-success ml-2 col-2" data-dismiss="modal"><i
                            class="fas fa-sign-out-alt" style="color: black;"></i><strong
                            style="color: black;">NO</strong></button>
                </div>

            </div>
        </div>
    </div>

    <!-- **********SCRIPTS********** -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="animal.js"></script>

</body>

</html>